backend:
  name: git-gateway
  branch: main

media_folder: "images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "products"
    label: "Products"
    folder: "products"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Product Name", name: "title", widget: "string" }
      - { label: "Category", name: "category", widget: "string" }
      - { label: "MRP", name: "mrp", widget: "number" }
      - { label: "Short Description", name: "short_description", widget: "text" }
      - { label: "Full Description", name: "body", widget: "markdown" }
      - { label: "Images", name: "images", widget: "list", field: {label: Image, name: image, widget: image} }